<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomTabbar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7B943CCB1C22A6EE00C67935</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B943CE41C22A6EF00C67935</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B943CEF1C22A6EF00C67935</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
